In [ ]:
import numpy as np
import pandas as pd
from sklearn import linear_model
from sklearn.model_selection import train_test_split

In [ ]:
df = pd.read_csv('insurance_data.csv')

In [ ]:
df.head()

   age  bought_insurance
0   22                 0
1   25                 0
2   47                 1
3   52                 0
4   46                 1

In [ ]:
log = linear_model.LogisticRegression()

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(df[['age']],df.bought_insurance,test_size=0.2)

In [ ]:
x_train.head()

    age
26   23
2    47
3    52
24   50
16   25

In [ ]:
y_train.head()

26    0
2     1
3     0
24    1
16    1
Name: bought_insurance, dtype: int64

In [ ]:
log.fit(x_train, y_train)

LogisticRegression()

In [ ]:
log.predict(x_test)

array([1, 1, 1, 1, 0, 0])

In [ ]:
log.score(x_test,y_test)

0.8333333333333334