In [ ]:
import numpy as np
import pandas as pd
from sklearn import linear_model

In [ ]:
df = pd.read_csv('hiring.csv')
df

   experience  test_score  interview_score  salary
0           0           8                9   50000
1           0           8                6   45000
2           5           6                7   60000
3           2          10               10   65000
4           7           9                6   70000
5           3           7               10   62000
6          10           7                7   72000
7          11           7                8   80000

In [ ]:
reg = linear_model.LinearRegression()

In [ ]:
reg.fit(df[['experience','test_score','interview_score']],df.salary)

LinearRegression()

In [ ]:
reg.predict([[2,9,6]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([53713.86677124])

In [ ]:
reg.predict([[12,10,10]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([93747.79628651])